
@import '../../assets/scss/variables.scss';

.product-list {
  box-sizing: border-box;
  padding-left: 16px;
  min-width: 288px;

  @include on-desktop {
    max-width: 1136px;
  }
  //   display: grid;
  //   grid-template-columns: 60px repeat(3, 1fr);
  //   grid-column-gap: 16px; 
  //   padding-inline: 16px;

  // .product-list__content {
   

  //   @include on-tablet {
  //     grid-template-columns: repeat(3, 1fr);
  //   }
  // }

  .pagination-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 16px; 
  }
}

.carousel__top-part__title {
  font-size: 22px;
}

.carousel__top-part {
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-width: 288px;
  padding-right: 16px;
}

.carousel__top-part-buttons {
  display: flex;
  gap: 16px;
}

.button {
  border: transparent;
  padding: 0;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  
  @include on-desktop {
    width: 1136px;
  }
}