@font-face {
  font-family: "Mont-Bold";
  src: url("../fonts/Mont-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Mont-SemiBold";
  src: url("../fonts/Mont-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Mont-Regular";
  src: url("../fonts/Mont-Regular.otf") format("opentype");
}

$font-bold: "Mont-Bold";
$font-SemiBold: "Mont-SemiBold";
$font-regular: "Mont-Regular";

@mixin font-h1-desktop {
  font-family: $font-bold, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: $color-white;
}

@mixin font-h2-desktop {
  font-family: $font-bold, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $color-white;
}

@mixin font-h3-desktop {
  font-family: $font-bold, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-h4-desktop {
  font-family: $font-SemiBold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-uppercase-desktop {
  font-family: $font-bold, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
  color: $color-white;
}

@mixin font-buttons-desktop {
  font-family: $font-SemiBold, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-body-text-desktop {
  font-family: $font-regular, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-small-text-desktop {
  font-family: $font-SemiBold, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-h1-mobile {
  font-family: $font-bold, sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  letter-spacing: -0.01em;
  color: $color-white;
}

@mixin font-h2-mobile {
  font-family: $font-bold, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 31px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-h3-mobile {
  font-family: $font-SemiBold, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0;
  color: $color-white;
}

@mixin font-h4-mobile {
  font-family: $font-SemiBold, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: $color-white;
}
