@mixin pageGrid {
  --columns: 4;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);
  justify-content: center;

  @include on-tablet {
    --columns: 12;
    column-gap: 16px;
  }

  @include on-desktop {
    --columns: 24;
    column-gap: 16px;
    grid-template-columns: repeat(var(--columns), 32px);
  }
}
