@import '../variables.scss';

.calculate {
  border: 1px solid #3B3E4A;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  height: 135px;

  @include on-desktop {
    width: 33%;
    height: 165px;
    gap: 24px;
  }

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__price {
    @include font-h2-desktop;
    margin: 0;
  }

  &__description {
    @include font-small-text-desktop;
    color: $color-secondary;
    margin: 0;

    @include on-desktop {
      font-size: 14px;
    }
  }

  &__line {
    border: 1px solid #3B3E4A;
  }

  &__button-checkout {
    display: flex;
    justify-content: center;
    background-color: #905BFF;
    align-items: center;
    text-decoration: none;
    border: none;
    text-align: center;
    height: 40px;
    cursor: pointer;

    @include on-desktop {
      height: 48px;
    }

    @include font-buttons-desktop;
  }
}