@import '../variables.scss';

.card {
  background-color: $color-surface-1;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &__img {
    width: 100%;
  }

  &__title {
    @include font-body-text-desktop;
    margin: 0;
  }

  &__price {
    @include font-h3-mobile;
    margin: 0;

    &--offer {
      text-decoration: line-through;
      color: $color-secondary;
    }
  }

  &__line {
    border: 1px solid #3b3e4a;
  }

  &__description {
    .description__text {
      display: flex;
      justify-content: space-between;

      @include font-small-text-desktop;
      color: $color-secondary;

      &--modify {
        color: white;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 40px;
    column-gap: 8px;

    &-cart {
      display: flex;
      justify-content: center;
      flex-grow: 6;
      background-color: #905bff;
      align-items: center;
      text-decoration: none;
      border: none;

      @include font-buttons-desktop;
    }

    &-fav {
      width: 40px;
      background-color: $color-surface-2;
      border: none;
    }

    .fav {
      &__status {
        width: 100%;
        height: 100%;
      }

      .on {
        background: url(./img/icons/like.svg) no-repeat center;
      }

      .off {
        background: url(./img/icons/favorite.svg) no-repeat center;
      }
    }
  }
}

.active {
  background-color: $color-surface-2;
}
