@import '../../assets/scss/variables.scss';

.cart-page {
  margin: 1px 0 0;
  padding: 0 16px;
  box-sizing: border-box;

  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  background-color: $color-black;
  color: $color-white;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-desktop {
    padding-inline: 32px;
  }

  &__content {
    margin: 0 auto;
    max-width: 1136px;
  }

  &__title {
    @include font-h1-mobile;

    margin: 0;
    margin-bottom: 32px;

    @include on-tablet {
      @include font-h1-desktop;
    }
  }

  &__wrapper-elements {
    display: flex;
    flex-direction: column;

    padding-bottom: 56px;

    @include on-tablet {
      padding-bottom: 64px;
    }

    @include on-desktop {
      flex-direction: row;
      gap: 16px;

      padding-bottom: 80px;
    }
  }

  &__list {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;

    list-style: none;

    margin-bottom: 32px;

    @include on-desktop {
      width: 67%;
      margin-bottom: o;
    }
  }

  &__list-item {
    width: 100%;
    height: 160px;

    background-color: $color-surface-1;

    @include on-tablet {
      height: 128px;
    }
  }

  &__checkout {
    width: 100%;
    height: 190px;

    border: 1px solid $color-elements;

    @include on-desktop {
      width: 33%;
      height: 206px;
    }
  }
}
