.page-not-found {
  display: flex;
  flex: 1;
  background-image: url('../../../public/img/page-not-found.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
